<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AdManagerApi" type="System.Configuration.DictionarySectionHandler"/>
    <section name="system.diagnostics" type="System.Diagnostics.SystemDiagnosticsSection"/>
  </configSections>
  <AdManagerApi>
    <add key="MaskCredentials" value="true"/>
    <add key="EnableGzipCompression" value="true"/>
    <add key="IncludeUtilitiesInUserAgent" value="true"/>
    <add key="ProxyServer" value=""/>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="ProxyDomain" value=""/>
    <add key="ApplicationName" value="SET_YOUR_ApplicationName"/>
    <add key="NetworkCode" value="SET_YOUR_NetworkCode"/>
    <add key="AuthorizationMethod" value="OAuth2"/>
    <add key="OAuth2ClientId" value="SET_YOUR_OAuth2ClientId"/>
    <add key="OAuth2ClientSecret" value="SET_YOUR_OAuth2ClientSecret"/>
    <add key="OAuth2Mode" value="APPLICATION"/>
    <add key="OAuth2RefreshToken" value="SET_YOUR_OAuth2RefreshToken"/>
  </AdManagerApi>
  <system.diagnostics>
    <sources>
      <source name="AdsClientLibs.DeprecationMessages"
              switchName="AdsClientLibs.DeprecationMessages"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener" type="System.Diagnostics.EventLogTraceListener"
               initializeData="Application"/>
        </listeners>
      </source>
      <source name="AdsClientLibs.DetailedRequestLogs"
              switchName="AdsClientLibs.DetailedRequestLogs"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="detailedRequestLogListener" type="System.Diagnostics.ConsoleTraceListener"
               initializeData="true"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="AdsClientLibs.SummaryRequestLogs" switchName="AdsClientLibs.SummaryRequestLogs"
              switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="summaryRequestLogListener" type="System.Diagnostics.ConsoleTraceListener"
               initializeData="true"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="AdsClientLibs.DeprecationMessages" value="Warning" />
      <add name="AdsClientLibs.DetailedRequestLogs" value="Off" />
      <add name="AdsClientLibs.SummaryRequestLogs" value="Off" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
